<a href="https://colab.research.google.com/github/doo52oh/Dacon/blob/main/%EC%9E%A1%EC%BC%80%EC%96%B4%EC%B6%94%EC%B2%9C/%EC%9E%A1%EC%BC%80%EC%96%B4%EC%B6%94%EC%B2%9C%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive")

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from typing import Dict
from datetime import datetime
## preprocessing

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

## modeling
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier



import warnings
warnings.filterwarnings(action='ignore')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
DATA_PATH = "/content/drive/MyDrive/Dacon/JobCare/data/"
SUBMIT_PATH = "/content/drive/MyDrive/Dacon/JobCare/submit/"
SEED = 42

In [3]:
train_data = pd.read_csv(f'{DATA_PATH}train.csv')
test_data = pd.read_csv(f'{DATA_PATH}test.csv')

d_code = pd.read_csv(f'{DATA_PATH}속성_D_코드.csv', index_col=0).T.to_dict()
h_code = pd.read_csv(f'{DATA_PATH}속성_H_코드.csv', index_col=0).T.to_dict()
l_code = pd.read_csv(f'{DATA_PATH}속성_L_코드.csv', index_col=0).T.to_dict()

print("train_data.shape: ", train_data.shape)
print("test_data.shape: ", test_data.shape)

train_data.shape:  (501951, 35)
test_data.shape:  (46404, 34)

In [4]:
def add_code(
    df: pd.DataFrame,
    d_code: Dict[int, Dict[str, int]], 
    h_code: Dict[int, Dict[str, int]], 
    l_code: Dict[int, Dict[str, int]],
) -> pd.DataFrame:
    
    # Copy input data
    df = df.copy()   

    # D Code
    df['person_prefer_d_1_n'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_1_s'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_1_m'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_1_l'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['person_prefer_d_2_n'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_2_s'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_2_m'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_2_l'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['person_prefer_d_3_n'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_3_s'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_3_m'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_3_l'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['contents_attribute_d_n'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['contents_attribute_d_s'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['contents_attribute_d_m'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['contents_attribute_d_l'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    # H Code
    df['person_prefer_h_1_l'] = df['person_prefer_h_1'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_1_m'] = df['person_prefer_h_1'].apply(lambda x: h_code[x]['속성 H 중분류코드'])
    
    df['person_prefer_h_2_l'] = df['person_prefer_h_2'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_2_m'] = df['person_prefer_h_2'].apply(lambda x: h_code[x]['속성 H 중분류코드'])
    
    df['person_prefer_h_3_l'] = df['person_prefer_h_3'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_3_m'] = df['person_prefer_h_3'].apply(lambda x: h_code[x]['속성 H 중분류코드'])

    df['contents_attribute_h_l'] = df['contents_attribute_h'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['contents_attribute_h_m'] = df['contents_attribute_h'].apply(lambda x: h_code[x]['속성 H 중분류코드'])

    # L Code
    df['contents_attribute_l_n'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 세분류코드'])
    df['contents_attribute_l_s'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 소분류코드'])
    df['contents_attribute_l_m'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 중분류코드'])
    df['contents_attribute_l_l'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 대분류코드'])
    
    return df

train_data = add_code(train_data, d_code, h_code, l_code)
test_data = add_code(test_data, d_code, h_code, l_code)
print("train_data.shape: ", train_data.shape)
print("test_data.shape: ", test_data.shape)

train_data.shape:  (501951, 63)
test_data.shape:  (46404, 62)

In [5]:
def preprocessing_contents_open_dt(data):
    data['contents_open_dt'] = data['contents_open_dt'].astype('str')
    DATE = data['contents_open_dt'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
    
    DATE = pd.DataFrame(DATE)
    DATE = DATE.rename(columns = {'contents_open_dt': 'date'})
    
    DATE['Y'] = DATE['date'].apply(lambda x: x.timetuple()[0])
    DATE['M'] = DATE['date'].apply(lambda x: x.timetuple()[1])
    DATE['D'] = DATE['date'].apply(lambda x: x.timetuple()[2])
    DATE['id'] = data['id']
    
    data = data.merge(DATE, on = 'id', how = 'left')
    data = data.drop(columns = ['date', 'contents_open_dt'])
    return data

train_data = preprocessing_contents_open_dt(train_data)
test_data = preprocessing_contents_open_dt(test_data)

# 안전하게 확인하고 넘어 갑시다. 
train_data_labels = train_data['target']
train_data, test_data = train_data.align(test_data, join = 'inner', axis = 1)
train_data['target'] = train_data_labels
print("train_data.shape: ", train_data.shape)
print("test_data.shape: ", test_data.shape)

train_data.shape:  (501951, 65)
test_data.shape:  (46404, 64)

In [6]:
job_data = train_data.copy()
job_data_test = test_data.copy()

In [7]:
job_data.head()

   id  d_l_match_yn  d_m_match_yn  d_s_match_yn  ...     Y  M   D  target
0   0          True          True          True  ...  2020  1  17       1
1   1         False         False         False  ...  2020  6  18       0
2   2         False         False         False  ...  2020  7   8       0
3   3         False         False         False  ...  2020  1  13       0
4   4          True          True          True  ...  2020  3   9       0

[5 rows x 65 columns]

In [8]:
job_data_test.head()

   id  d_l_match_yn  d_m_match_yn  ...     Y   M   D
0   0          True         False  ...  2020  12   1
1   1         False         False  ...  2020  12  17
2   2          True         False  ...  2020  12  10
3   3          True         False  ...  2020  12   3
4   4          True         False  ...  2020  12  11

[5 rows x 64 columns]

In [9]:
job_data.columns

Index(['id', 'd_l_match_yn', 'd_m_match_yn', 'd_s_match_yn', 'h_l_match_yn',
       'h_m_match_yn', 'h_s_match_yn', 'person_attribute_a',
       'person_attribute_a_1', 'person_attribute_b', 'person_prefer_c',
       'person_prefer_d_1', 'person_prefer_d_2', 'person_prefer_d_3',
       'person_prefer_e', 'person_prefer_f', 'person_prefer_g',
       'person_prefer_h_1', 'person_prefer_h_2', 'person_prefer_h_3',
       'contents_attribute_i', 'contents_attribute_a',
       'contents_attribute_j_1', 'contents_attribute_j',
       'contents_attribute_c', 'contents_attribute_k', 'contents_attribute_l',
       'contents_attribute_d', 'contents_attribute_m', 'contents_attribute_e',
       'contents_attribute_h', 'person_rn', 'contents_rn',
       'person_prefer_d_1_n', 'person_prefer_d_1_s', 'person_prefer_d_1_m',
       'person_prefer_d_1_l', 'person_prefer_d_2_n', 'person_prefer_d_2_s',
       'person_prefer_d_2_m', 'person_prefer_d_2_l', 'person_prefer_d_3_n',
       'person_prefer_d_3_s', 'person_prefer_d_3_m', 'person_prefer_d_3_l',
       'contents_attribute_d_n', 'contents_attribute_d_s',
       'contents_attribute_d_m', 'contents_attribute_d_l',
       'person_prefer_h_1_l', 'person_prefer_h_1_m', 'person_prefer_h_2_l',
       'person_prefer_h_2_m', 'person_prefer_h_3_l', 'person_prefer_h_3_m',
       'contents_attribute_h_l', 'contents_attribute_h_m',
       'contents_attribute_l_n', 'contents_attribute_l_s',
       'contents_attribute_l_m', 'contents_attribute_l_l', 'Y', 'M', 'D',
       'target'],
      dtype='object')

In [10]:
num_cols = ['person_attribute_a_1',
            'person_attribute_b',
            'person_prefer_e'
            ]
cat_cols = ['d_l_match_yn',
            'd_m_match_yn',
            'd_s_match_yn',
            'h_l_match_yn',
            'h_m_match_yn',
            'h_s_match_yn',
            'person_attribute_a',
            'person_prefer_c',
            'person_prefer_d_1',
            'person_prefer_d_2',
            'person_prefer_d_3',
            'person_prefer_h_1', 
            'person_prefer_h_2', 
            'person_prefer_h_3',
            'contents_attribute_i',
            'contents_attribute_a',
            'contents_attribute_j_1',
            'contents_attribute_j',
            'contents_attribute_c', 
            'contents_attribute_k', 
            'contents_attribute_l',
            'contents_attribute_d', 
            'contents_attribute_m',
            'contents_attribute_h',
            'person_prefer_d_1_n', 
            'person_prefer_d_1_s', 
            'person_prefer_d_1_m',
            'person_prefer_d_1_l', 
            'person_prefer_d_2_n', 
            'person_prefer_d_2_s',
            'person_prefer_d_2_m', 
            'person_prefer_d_2_l', 
            'person_prefer_d_3_n',
            'person_prefer_d_3_s', 
            'person_prefer_d_3_m', 
            'person_prefer_d_3_l',
            'contents_attribute_d_n',
            'contents_attribute_d_s',
            'contents_attribute_d_m', 
            'contents_attribute_d_l',
            'person_prefer_h_1_l', 
            'person_prefer_h_1_m', 
            'person_prefer_h_2_l',
            'person_prefer_h_2_m', 
            'person_prefer_h_3_l', 
            'person_prefer_h_3_m',
            'contents_attribute_h_l',
            'contents_attribute_h_m',
            'contents_attribute_l_n', 
            'contents_attribute_l_s',
            'contents_attribute_l_m', 
            'contents_attribute_l_l']
drop_cols = ['id', 'person_rn', 'contents_rn', 'Y', 'M', 'D','person_prefer_f','person_prefer_g']

job_df = job_data.drop(drop_cols, axis=1)
job_test_df = job_data_test.drop(drop_cols, axis=1)

In [11]:
job_df.shape, job_test_df.shape

((501951, 57), (46404, 56))

In [12]:
job_df.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_l  target
0          True          True  ...                    2016       1
1         False         False  ...                    2016       0
2         False         False  ...                    2016       0
3         False         False  ...                    2016       0
4          True          True  ...                    2016       0

[5 rows x 57 columns]

### Preprocessing

In [13]:
job_df[cat_cols] = job_df[cat_cols].astype('category')
job_test_df[cat_cols] = job_test_df[cat_cols].astype('category')

In [14]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501951 entries, 0 to 501950
Data columns (total 57 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  category
 1   d_m_match_yn            501951 non-null  category
 2   d_s_match_yn            501951 non-null  category
 3   h_l_match_yn            501951 non-null  category
 4   h_m_match_yn            501951 non-null  category
 5   h_s_match_yn            501951 non-null  category
 6   person_attribute_a      501951 non-null  category
 7   person_attribute_a_1    501951 non-null  int64
 8   person_attribute_b      501951 non-null  int64
 9   person_prefer_c         501951 non-null  category
 10  person_prefer_d_1       501951 non-null  category
 11  person_prefer_d_2       501951 non-null  category
 12  person_prefer_d_3       501951 non-null  category
 13  person_prefer_e         501951 non-null  int64
 14  person_prefer_h_1       501951 non-null  category
 15  person_prefer_h_2       501951 non-null  category
 16  person_prefer_h_3       501951 non-null  category
 17  contents_attribute_i    501951 non-null  category
 18  contents_attribute_a    501951 non-null  category
 19  contents_attribute_j_1  501951 non-null  category
 20  contents_attribute_j    501951 non-null  category
 21  contents_attribute_c    501951 non-null  category
 22  contents_attribute_k    501951 non-null  category
 23  contents_attribute_l    501951 non-null  category
 24  contents_attribute_d    501951 non-null  category
 25  contents_attribute_m    501951 non-null  category
 26  contents_attribute_e    501951 non-null  int64
 27  contents_attribute_h    501951 non-null  category
 28  person_prefer_d_1_n     501951 non-null  category
 29  person_prefer_d_1_s     501951 non-null  category
 30  person_prefer_d_1_m     501951 non-null  category
 31  person_prefer_d_1_l     501951 non-null  category
 32  person_prefer_d_2_n     501951 non-null  category
 33  person_prefer_d_2_s     501951 non-null  category
 34  person_prefer_d_2_m     501951 non-null  category
 35  person_prefer_d_2_l     501951 non-null  category
 36  person_prefer_d_3_n     501951 non-null  category
 37  person_prefer_d_3_s     501951 non-null  category
 38  person_prefer_d_3_m     501951 non-null  category
 39  person_prefer_d_3_l     501951 non-null  category
 40  contents_attribute_d_n  501951 non-null  category
 41  contents_attribute_d_s  501951 non-null  category
 42  contents_attribute_d_m  501951 non-null  category
 43  contents_attribute_d_l  501951 non-null  category
 44  person_prefer_h_1_l     501951 non-null  category
 45  person_prefer_h_1_m     501951 non-null  category
 46  person_prefer_h_2_l     501951 non-null  category
 47  person_prefer_h_2_m     501951 non-null  category
 48  person_prefer_h_3_l     501951 non-null  category
 49  person_prefer_h_3_m     501951 non-null  category
 50  contents_attribute_h_l  501951 non-null  category
 51  contents_attribute_h_m  501951 non-null  category
 52  contents_attribute_l_n  501951 non-null  category
 53  contents_attribute_l_s  501951 non-null  category
 54  contents_attribute_l_m  501951 non-null  category
 55  contents_attribute_l_l  501951 non-null  category
 56  target                  501951 non-null  int64
dtypes: category(52), int64(5)
memory usage: 59.4 MB

In [32]:
job_df['person_prefer_h_1_m']

0         316
1         417
2         364
3         379
4         483
         ...
501946    368
501947    401
501948    368
501949    518
501950    542
Name: person_prefer_h_1_m, Length: 501951, dtype: category
Categories (246, int64): [315, 316, 317, 318, ..., 566, 567, 568, 569]

In [34]:
df = pd.concat([job_df, job_test_df])
df.shape

(548355, 57)

In [35]:
le = LabelEncoder()

for n in cat_cols:
  le.fit(df[n])
  job_df[n] = le.transform(job_df[n])
  job_test_df[n] = le.transform(job_test_df[n])

In [36]:
print(job_df.shape)
job_df.head()

(501951, 57)

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_l  target
0             1             1  ...                      12       1
1             0             0  ...                      12       0
2             0             0  ...                      12       0
3             0             0  ...                      12       0
4             1             1  ...                      12       0

[5 rows x 57 columns]

In [37]:
print(job_test_df.shape)
job_test_df.head()

(46404, 56)

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_m  contents_attribute_l_l
0             1             0  ...                      40                       6
1             0             0  ...                      60                      12
2             1             0  ...                      67                      16
3             1             0  ...                       7                       2
4             1             0  ...                      38                       5

[5 rows x 56 columns]

In [38]:
X_train = job_df.iloc[:,:-1]
Y_train = job_df.iloc[:,-1]
X_test = job_test_df

### Modeling

In [39]:
model = RandomForestClassifier(n_estimators = 300, max_depth=60, n_jobs=-1, random_state=123456789)
model.fit(X_train, Y_train)

RandomForestClassifier(max_depth=60, n_estimators=300, n_jobs=-1,
                       random_state=123456789)

In [40]:
preds = model.predict(X_test)

## Submit

In [41]:
submission = pd.read_csv(f'{DATA_PATH}sample_submission.csv')
submission['target'] = preds

submission.to_csv('RF_baseline.csv', index=False)