<a href="https://colab.research.google.com/github/doo52oh/Dacon/blob/main/%EC%9E%A1%EC%BC%80%EC%96%B4%EC%B6%94%EC%B2%9C/%EC%9E%A1%EC%BC%80%EC%96%B4%EC%B6%94%EC%B2%9C%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
from google.colab import drive
drive.mount("/content/drive")

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from typing import Dict
from datetime import datetime
## preprocessing

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

## modeling
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

from sklearn.metrics import classification_report, f1_score, precision_score, recall_score



import warnings
warnings.filterwarnings(action='ignore')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
DATA_PATH = "/content/drive/MyDrive/Dacon/JobCare/data/"
SUBMIT_PATH = "/content/drive/MyDrive/Dacon/JobCare/submit/"
SEED = 42

In [4]:
train_data = pd.read_csv(f'{DATA_PATH}train.csv')
test_data = pd.read_csv(f'{DATA_PATH}test.csv')

d_code = pd.read_csv(f'{DATA_PATH}속성_D_코드.csv', index_col=0).T.to_dict()
h_code = pd.read_csv(f'{DATA_PATH}속성_H_코드.csv', index_col=0).T.to_dict()
l_code = pd.read_csv(f'{DATA_PATH}속성_L_코드.csv', index_col=0).T.to_dict()

print("train_data.shape: ", train_data.shape)
print("test_data.shape: ", test_data.shape)

train_data.shape:  (501951, 35)
test_data.shape:  (46404, 34)

In [5]:
def add_code(
    df: pd.DataFrame,
    d_code: Dict[int, Dict[str, int]], 
    h_code: Dict[int, Dict[str, int]], 
    l_code: Dict[int, Dict[str, int]],
) -> pd.DataFrame:
    
    # Copy input data
    df = df.copy()   

    # D Code
    df['person_prefer_d_1_n'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_1_s'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_1_m'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_1_l'] = df['person_prefer_d_1'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['person_prefer_d_2_n'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_2_s'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_2_m'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_2_l'] = df['person_prefer_d_2'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['person_prefer_d_3_n'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['person_prefer_d_3_s'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['person_prefer_d_3_m'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['person_prefer_d_3_l'] = df['person_prefer_d_3'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    df['contents_attribute_d_n'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 세분류코드'])
    df['contents_attribute_d_s'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 소분류코드'])
    df['contents_attribute_d_m'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 중분류코드'])
    df['contents_attribute_d_l'] = df['contents_attribute_d'].apply(lambda x: d_code[x]['속성 D 대분류코드'])

    # H Code
    df['person_prefer_h_1_l'] = df['person_prefer_h_1'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_1_m'] = df['person_prefer_h_1'].apply(lambda x: h_code[x]['속성 H 중분류코드'])
    
    df['person_prefer_h_2_l'] = df['person_prefer_h_2'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_2_m'] = df['person_prefer_h_2'].apply(lambda x: h_code[x]['속성 H 중분류코드'])
    
    df['person_prefer_h_3_l'] = df['person_prefer_h_3'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['person_prefer_h_3_m'] = df['person_prefer_h_3'].apply(lambda x: h_code[x]['속성 H 중분류코드'])

    df['contents_attribute_h_l'] = df['contents_attribute_h'].apply(lambda x: h_code[x]['속성 H 대분류코드'])
    df['contents_attribute_h_m'] = df['contents_attribute_h'].apply(lambda x: h_code[x]['속성 H 중분류코드'])

    # L Code
    df['contents_attribute_l_n'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 세분류코드'])
    df['contents_attribute_l_s'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 소분류코드'])
    df['contents_attribute_l_m'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 중분류코드'])
    df['contents_attribute_l_l'] = df['contents_attribute_l'].apply(lambda x: l_code[x]['속성 L 대분류코드'])
    
    return df

train_data = add_code(train_data, d_code, h_code, l_code)
test_data = add_code(test_data, d_code, h_code, l_code)
print("train_data.shape: ", train_data.shape)
print("test_data.shape: ", test_data.shape)

train_data.shape:  (501951, 63)
test_data.shape:  (46404, 62)

In [6]:
def preprocessing_contents_open_dt(data):
    data['contents_open_dt'] = data['contents_open_dt'].astype('str')
    DATE = data['contents_open_dt'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
    
    DATE = pd.DataFrame(DATE)
    DATE = DATE.rename(columns = {'contents_open_dt': 'date'})
    
    DATE['Y'] = DATE['date'].apply(lambda x: x.timetuple()[0])
    DATE['M'] = DATE['date'].apply(lambda x: x.timetuple()[1])
    DATE['D'] = DATE['date'].apply(lambda x: x.timetuple()[2])
    DATE['id'] = data['id']
    
    data = data.merge(DATE, on = 'id', how = 'left')
    data = data.drop(columns = ['date', 'contents_open_dt'])
    return data

train_data = preprocessing_contents_open_dt(train_data)
test_data = preprocessing_contents_open_dt(test_data)

# 안전하게 확인하고 넘어 갑시다. 
train_data_labels = train_data['target']
train_data, test_data = train_data.align(test_data, join = 'inner', axis = 1)
train_data['target'] = train_data_labels
print("train_data.shape: ", train_data.shape)
print("test_data.shape: ", test_data.shape)

train_data.shape:  (501951, 65)
test_data.shape:  (46404, 64)

In [7]:
job_data = train_data.copy()
job_data_test = test_data.copy()

In [8]:
job_data.head()

   id  d_l_match_yn  d_m_match_yn  d_s_match_yn  ...     Y  M   D  target
0   0          True          True          True  ...  2020  1  17       1
1   1         False         False         False  ...  2020  6  18       0
2   2         False         False         False  ...  2020  7   8       0
3   3         False         False         False  ...  2020  1  13       0
4   4          True          True          True  ...  2020  3   9       0

[5 rows x 65 columns]

In [9]:
job_data_test.head()

   id  d_l_match_yn  d_m_match_yn  ...     Y   M   D
0   0          True         False  ...  2020  12   1
1   1         False         False  ...  2020  12  17
2   2          True         False  ...  2020  12  10
3   3          True         False  ...  2020  12   3
4   4          True         False  ...  2020  12  11

[5 rows x 64 columns]

In [10]:
job_data.columns

Index(['id', 'd_l_match_yn', 'd_m_match_yn', 'd_s_match_yn', 'h_l_match_yn',
       'h_m_match_yn', 'h_s_match_yn', 'person_attribute_a',
       'person_attribute_a_1', 'person_attribute_b', 'person_prefer_c',
       'person_prefer_d_1', 'person_prefer_d_2', 'person_prefer_d_3',
       'person_prefer_e', 'person_prefer_f', 'person_prefer_g',
       'person_prefer_h_1', 'person_prefer_h_2', 'person_prefer_h_3',
       'contents_attribute_i', 'contents_attribute_a',
       'contents_attribute_j_1', 'contents_attribute_j',
       'contents_attribute_c', 'contents_attribute_k', 'contents_attribute_l',
       'contents_attribute_d', 'contents_attribute_m', 'contents_attribute_e',
       'contents_attribute_h', 'person_rn', 'contents_rn',
       'person_prefer_d_1_n', 'person_prefer_d_1_s', 'person_prefer_d_1_m',
       'person_prefer_d_1_l', 'person_prefer_d_2_n', 'person_prefer_d_2_s',
       'person_prefer_d_2_m', 'person_prefer_d_2_l', 'person_prefer_d_3_n',
       'person_prefer_d_3_s', 'person_prefer_d_3_m', 'person_prefer_d_3_l',
       'contents_attribute_d_n', 'contents_attribute_d_s',
       'contents_attribute_d_m', 'contents_attribute_d_l',
       'person_prefer_h_1_l', 'person_prefer_h_1_m', 'person_prefer_h_2_l',
       'person_prefer_h_2_m', 'person_prefer_h_3_l', 'person_prefer_h_3_m',
       'contents_attribute_h_l', 'contents_attribute_h_m',
       'contents_attribute_l_n', 'contents_attribute_l_s',
       'contents_attribute_l_m', 'contents_attribute_l_l', 'Y', 'M', 'D',
       'target'],
      dtype='object')

In [38]:
num_cols = ['person_attribute_a_1',
            'person_attribute_b',
            'person_prefer_e',
            'person_attribute_a',
            'person_prefer_c',
            'person_prefer_d_1',
            'person_prefer_d_2',
            'person_prefer_d_3',
            'person_prefer_h_1', 
            'person_prefer_h_2', 
            'person_prefer_h_3',
            'contents_attribute_i',
            'contents_attribute_a',
            'contents_attribute_j_1',
            'contents_attribute_j',
            'contents_attribute_c', 
            'contents_attribute_k', 
            'contents_attribute_l',
            'contents_attribute_d', 
            'contents_attribute_m',
            'contents_attribute_h',
            'person_prefer_d_1_n', 
            'person_prefer_d_1_s', 
            'person_prefer_d_1_m',
            'person_prefer_d_1_l', 
            'person_prefer_d_2_n', 
            'person_prefer_d_2_s',
            'person_prefer_d_2_m', 
            'person_prefer_d_2_l', 
            'person_prefer_d_3_n',
            'person_prefer_d_3_s', 
            'person_prefer_d_3_m', 
            'person_prefer_d_3_l',
            'contents_attribute_d_n',
            'contents_attribute_d_s',
            'contents_attribute_d_m', 
            'contents_attribute_d_l',
            'person_prefer_h_1_l', 
            'person_prefer_h_1_m', 
            'person_prefer_h_2_l',
            'person_prefer_h_2_m', 
            'person_prefer_h_3_l', 
            'person_prefer_h_3_m',
            'contents_attribute_h_l',
            'contents_attribute_h_m',
            'contents_attribute_l_n', 
            'contents_attribute_l_s',
            'contents_attribute_l_m', 
            'contents_attribute_l_l'
            ]
cat_cols = ['d_l_match_yn',
            'd_m_match_yn',
            'd_s_match_yn',
            'h_l_match_yn',
            'h_m_match_yn',
            'h_s_match_yn',
]
drop_cols = ['id', 'person_rn', 'contents_rn', 'Y', 'M', 'D','person_prefer_f','person_prefer_g']

job_df = job_data.drop(drop_cols, axis=1)
job_test_df = job_data_test.drop(drop_cols, axis=1)

In [39]:
job_df.shape, job_test_df.shape

((501951, 57), (46404, 56))

In [40]:
job_df.head()

   d_l_match_yn  d_m_match_yn  ...  contents_attribute_l_l  target
0          True          True  ...                    2016       1
1         False         False  ...                    2016       0
2         False         False  ...                    2016       0
3         False         False  ...                    2016       0
4          True          True  ...                    2016       0

[5 rows x 57 columns]

In [41]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501951 entries, 0 to 501950
Data columns (total 57 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   h_m_match_yn            501951 non-null  bool
 5   h_s_match_yn            501951 non-null  bool
 6   person_attribute_a      501951 non-null  int64
 7   person_attribute_a_1    501951 non-null  int64
 8   person_attribute_b      501951 non-null  int64
 9   person_prefer_c         501951 non-null  int64
 10  person_prefer_d_1       501951 non-null  int64
 11  person_prefer_d_2       501951 non-null  int64
 12  person_prefer_d_3       501951 non-null  int64
 13  person_prefer_e         501951 non-null  int64
 14  person_prefer_h_1       501951 non-null  int64
 15  person_prefer_h_2       501951 non-null  int64
 16  person_prefer_h_3       501951 non-null  int64
 17  contents_attribute_i    501951 non-null  int64
 18  contents_attribute_a    501951 non-null  int64
 19  contents_attribute_j_1  501951 non-null  int64
 20  contents_attribute_j    501951 non-null  int64
 21  contents_attribute_c    501951 non-null  int64
 22  contents_attribute_k    501951 non-null  int64
 23  contents_attribute_l    501951 non-null  int64
 24  contents_attribute_d    501951 non-null  int64
 25  contents_attribute_m    501951 non-null  int64
 26  contents_attribute_e    501951 non-null  int64
 27  contents_attribute_h    501951 non-null  int64
 28  person_prefer_d_1_n     501951 non-null  int64
 29  person_prefer_d_1_s     501951 non-null  int64
 30  person_prefer_d_1_m     501951 non-null  int64
 31  person_prefer_d_1_l     501951 non-null  int64
 32  person_prefer_d_2_n     501951 non-null  int64
 33  person_prefer_d_2_s     501951 non-null  int64
 34  person_prefer_d_2_m     501951 non-null  int64
 35  person_prefer_d_2_l     501951 non-null  int64
 36  person_prefer_d_3_n     501951 non-null  int64
 37  person_prefer_d_3_s     501951 non-null  int64
 38  person_prefer_d_3_m     501951 non-null  int64
 39  person_prefer_d_3_l     501951 non-null  int64
 40  contents_attribute_d_n  501951 non-null  int64
 41  contents_attribute_d_s  501951 non-null  int64
 42  contents_attribute_d_m  501951 non-null  int64
 43  contents_attribute_d_l  501951 non-null  int64
 44  person_prefer_h_1_l     501951 non-null  int64
 45  person_prefer_h_1_m     501951 non-null  int64
 46  person_prefer_h_2_l     501951 non-null  int64
 47  person_prefer_h_2_m     501951 non-null  int64
 48  person_prefer_h_3_l     501951 non-null  int64
 49  person_prefer_h_3_m     501951 non-null  int64
 50  contents_attribute_h_l  501951 non-null  int64
 51  contents_attribute_h_m  501951 non-null  int64
 52  contents_attribute_l_n  501951 non-null  int64
 53  contents_attribute_l_s  501951 non-null  int64
 54  contents_attribute_l_m  501951 non-null  int64
 55  contents_attribute_l_l  501951 non-null  int64
 56  target                  501951 non-null  int64
dtypes: bool(6), int64(51)
memory usage: 202.0 MB

### Preprocessing

In [42]:
# job_df[cat_cols] = job_df[cat_cols].astype('category')
# job_test_df[cat_cols] = job_test_df[cat_cols].astype('category')

In [43]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501951 entries, 0 to 501950
Data columns (total 57 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   h_m_match_yn            501951 non-null  bool
 5   h_s_match_yn            501951 non-null  bool
 6   person_attribute_a      501951 non-null  int64
 7   person_attribute_a_1    501951 non-null  int64
 8   person_attribute_b      501951 non-null  int64
 9   person_prefer_c         501951 non-null  int64
 10  person_prefer_d_1       501951 non-null  int64
 11  person_prefer_d_2       501951 non-null  int64
 12  person_prefer_d_3       501951 non-null  int64
 13  person_prefer_e         501951 non-null  int64
 14  person_prefer_h_1       501951 non-null  int64
 15  person_prefer_h_2       501951 non-null  int64
 16  person_prefer_h_3       501951 non-null  int64
 17  contents_attribute_i    501951 non-null  int64
 18  contents_attribute_a    501951 non-null  int64
 19  contents_attribute_j_1  501951 non-null  int64
 20  contents_attribute_j    501951 non-null  int64
 21  contents_attribute_c    501951 non-null  int64
 22  contents_attribute_k    501951 non-null  int64
 23  contents_attribute_l    501951 non-null  int64
 24  contents_attribute_d    501951 non-null  int64
 25  contents_attribute_m    501951 non-null  int64
 26  contents_attribute_e    501951 non-null  int64
 27  contents_attribute_h    501951 non-null  int64
 28  person_prefer_d_1_n     501951 non-null  int64
 29  person_prefer_d_1_s     501951 non-null  int64
 30  person_prefer_d_1_m     501951 non-null  int64
 31  person_prefer_d_1_l     501951 non-null  int64
 32  person_prefer_d_2_n     501951 non-null  int64
 33  person_prefer_d_2_s     501951 non-null  int64
 34  person_prefer_d_2_m     501951 non-null  int64
 35  person_prefer_d_2_l     501951 non-null  int64
 36  person_prefer_d_3_n     501951 non-null  int64
 37  person_prefer_d_3_s     501951 non-null  int64
 38  person_prefer_d_3_m     501951 non-null  int64
 39  person_prefer_d_3_l     501951 non-null  int64
 40  contents_attribute_d_n  501951 non-null  int64
 41  contents_attribute_d_s  501951 non-null  int64
 42  contents_attribute_d_m  501951 non-null  int64
 43  contents_attribute_d_l  501951 non-null  int64
 44  person_prefer_h_1_l     501951 non-null  int64
 45  person_prefer_h_1_m     501951 non-null  int64
 46  person_prefer_h_2_l     501951 non-null  int64
 47  person_prefer_h_2_m     501951 non-null  int64
 48  person_prefer_h_3_l     501951 non-null  int64
 49  person_prefer_h_3_m     501951 non-null  int64
 50  contents_attribute_h_l  501951 non-null  int64
 51  contents_attribute_h_m  501951 non-null  int64
 52  contents_attribute_l_n  501951 non-null  int64
 53  contents_attribute_l_s  501951 non-null  int64
 54  contents_attribute_l_m  501951 non-null  int64
 55  contents_attribute_l_l  501951 non-null  int64
 56  target                  501951 non-null  int64
dtypes: bool(6), int64(51)
memory usage: 202.0 MB

In [44]:
X = job_df.iloc[:,:-1]
Y = job_df.iloc[:,-1]
test = job_test_df

In [45]:
X_train, X_valid, Y_train, Y_valid = train_test_split(X, Y, test_size = 0.33, shuffle = True, stratify = Y, random_state = 1234)

In [46]:
X_train.shape, X_valid.shape, Y_train.shape, Y_valid.shape

((336307, 56), (165644, 56), (336307,), (165644,))

In [47]:
len(X)*0.33

165643.83000000002

### Modeling

#### Logistic Regression

In [48]:
lr_model = LogisticRegression(n_jobs=-1,random_state = 1234556)
lr_model.fit(X_train, Y_train)

LogisticRegression(n_jobs=-1, random_state=1234556)

In [49]:
lr_preds = lr_model.predict(X_valid)

In [50]:
lr_scor = f1_score(Y_valid, lr_preds)

#### RandomForest

In [51]:
rf_model = RandomForestClassifier(n_estimators = 300, max_depth=60, n_jobs=-1, random_state=123456789)
rf_model.fit(X_train, Y_train)

RandomForestClassifier(max_depth=60, n_estimators=300, n_jobs=-1,
                       random_state=123456789)

In [52]:
rf_preds = rf_model.predict(X_valid)

In [53]:
rf_scor = f1_score(Y_valid, rf_preds)

#### XGBoost

In [54]:
xgb_model = XGBClassifier(n_jobs=-1,random_state = 1234567)
xgb_model.fit(X_train, Y_train)

XGBClassifier(n_jobs=-1, random_state=1234567)

In [55]:
xgb_pred = xgb_model.predict(X_valid)

In [56]:
xgb_scor = f1_score(Y_valid, xgb_pred)

#### LGBM

In [57]:
lgbm_model = LGBMClassifier(n_jobs=-1,random_state = 1234567)
lgbm_model.fit(X_train, Y_train)

LGBMClassifier(random_state=1234567)

In [58]:
lgbm_pred = lgbm_model.predict(X_valid)

In [59]:
lgbm_scor = f1_score(Y_valid, lgbm_pred)

#### Score 비교

In [60]:
print("Logistic Regression f1 score is ", lr_scor)
print("Random Forest f1 score is ", rf_scor)
print("XGBoost f1 score is ", xgb_scor)
print("LightGBM f1 score is ", lgbm_scor)

Logistic Regression f1 score is  0.5406403031719861
Random Forest f1 score is  0.6243139211633045
XGBoost f1 score is  0.614173136487456
LightGBM f1 score is  0.6344350411710887

#### LGBM으로 train_full셋 학습

In [61]:
lgbm_model.fit(X_train, Y_train)
preds = lgbm_model.predict(test)

## Submit

In [62]:
submission = pd.read_csv(f'{DATA_PATH}sample_submission.csv')
submission['target'] = preds

submission.to_csv('lgbm_baseline.csv', index=False)