<a href="https://colab.research.google.com/github/doo52oh/Dacon/blob/main/Predict_Parking_Demand/%EC%A3%BC%EC%B0%A8%EC%88%98%EC%9A%94_%EC%98%88%EC%B8%A1_%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C_Baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주차수요예측 baseline

Dacon 내 baseline 스크립트 바탕

score : 130.4656

추후 EDA를 통해 변수 추가 및 변경, 모형 추가 예정

In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from tqdm import tqdm

# Data

In [4]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1022 non-null   object
 1   총세대수                          1022 non-null   int64
 2   임대건물구분                        1022 non-null   object
 3   지역                            1022 non-null   object
 4   공급유형                          1022 non-null   object
 5   전용면적                          1022 non-null   float64
 6   전용면적별세대수                      1022 non-null   int64
 7   공가수                           1022 non-null   float64
 8   자격유형                          1020 non-null   object
 9   임대보증금                         842 non-null    object
 10  임대료                           842 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  980 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 13  단지내주차면수                       1022 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 111.9+ KB

In [9]:
train['지하철'] = train['도보 10분거리 내 지하철역 수(환승노선 수 반영)']
train['버스']   = train['도보 10분거리 내 버스정류장 수'] 


test['지하철'] = test['도보 10분거리 내 지하철역 수(환승노선 수 반영)']
test['버스']   = test['도보 10분거리 내 버스정류장 수']

In [10]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수', '지하철', '버스'],
      dtype='object')

In [14]:
train[['도보 10분거리 내 지하철역 수(환승노선 수 반영)', '지하철', '도보 10분거리 내 버스정류장 수', '버스']].head()

   도보 10분거리 내 지하철역 수(환승노선 수 반영)  지하철  도보 10분거리 내 버스정류장 수   버스
0                           0.0  0.0                 3.0  3.0
1                           0.0  0.0                 3.0  3.0
2                           0.0  0.0                 3.0  3.0
3                           0.0  0.0                 3.0  3.0
4                           0.0  0.0                 3.0  3.0

In [12]:
test[['도보 10분거리 내 지하철역 수(환승노선 수 반영)', '지하철', '도보 10분거리 내 버스정류장 수', '버스']].head()

   도보 10분거리 내 지하철역 수(환승노선 수 반영)  지하철  도보 10분거리 내 버스정류장 수   버스
0                           0.0  0.0                 2.0  2.0
1                           0.0  0.0                 2.0  2.0
2                           0.0  0.0                 2.0  2.0
3                           0.0  0.0                 2.0  2.0
4                           0.0  0.0                 2.0  2.0

# 지역명 숫자로 맵핑

In [15]:
local_map = {}
for i, loc in enumerate(train['지역'].unique()):
    local_map[loc] = i

In [16]:
train['지역'] = train['지역'].map(local_map)
test['지역'] = test['지역'].map(local_map)

# 전용면적 5배수 변경

In [17]:
train['전용면적'] = train['전용면적']//5*5
test['전용면적'] = test['전용면적']//5*5

# 전용면적 상/하한 적용

상한 100, 하한 15

In [18]:
idx = train[train['전용면적']>100].index
train.loc[idx, '전용면적'] = 100
idx = test[test['전용면적']>100].index
test.loc[idx, '전용면적'] = 100

idx = train[train['전용면적']<15].index
train.loc[idx, '전용면적'] = 15
idx = test[test['전용면적']<15].index
test.loc[idx, '전용면적'] = 15

In [19]:
test['전용면적'].unique()

array([ 35.,  45.,  50.,  30.,  55.,  25.,  75., 100.,  15.,  20.,  40.,
        60.,  80.,  70.])

# 단지별 데이터 1차원으로 취합

In [20]:
columns = ['단지코드', '총세대수', '공가수', '지역', '단지내주차면수', '지하철', '버스']
target = '등록차량수'
area_columns = []
for area in train['전용면적'].unique():
    area_columns.append(f'면적_{area}')

In [21]:
new_train = pd.DataFrame()
new_test = pd.DataFrame()

In [22]:
for i, code in tqdm(enumerate(train['단지코드'].unique())):
    temp = train[train['단지코드']==code]
    temp.index = range(temp.shape[0])
    for col in columns:
        new_train.loc[i, col] = temp.loc[0, col]
    
    for col in area_columns:
        area = float(col.split('_')[-1])
        new_train.loc[i, col] = temp[temp['전용면적']==area]['전용면적별세대수'].sum()
    
    new_train.loc[i, '등록차량수'] = temp.loc[0, '등록차량수']
    
for i, code in tqdm(enumerate(test['단지코드'].unique())):
    temp = test[test['단지코드']==code]
    temp.index = range(temp.shape[0])
    for col in columns:
        new_test.loc[i, col] = temp.loc[0, col]
    
    for col in area_columns:
        area = float(col.split('_')[-1])
        new_test.loc[i, col] = temp[temp['전용면적']==area]['전용면적별세대수'].sum()

423it [00:09, 46.16it/s]
150it [00:03, 45.74it/s]

In [23]:
new_train

      단지코드    총세대수   공가수    지역  ...  면적_75.0  면적_80.0  면적_65.0   등록차량수
0    C2483   900.0  38.0   0.0  ...      0.0      0.0      0.0  1015.0
1    C2515   545.0  17.0   1.0  ...      0.0      0.0      0.0   205.0
2    C1407  1216.0  13.0   2.0  ...      0.0      0.0      0.0  1064.0
3    C1945   755.0   6.0   3.0  ...      0.0      0.0      0.0   730.0
4    C1470   696.0  14.0   4.0  ...      0.0      0.0      0.0   553.0
..     ...     ...   ...   ...  ...      ...      ...      ...     ...
418  C2586    90.0   7.0   9.0  ...      0.0      0.0      0.0    57.0
419  C2035   492.0  24.0   5.0  ...      0.0      0.0      0.0   246.0
420  C2020    40.0   7.0   8.0  ...      0.0      0.0      0.0    19.0
421  C2437    90.0  12.0  11.0  ...      0.0      0.0      0.0    16.0
422  C2532   239.0   7.0   5.0  ...      0.0      0.0      0.0   146.0

[423 rows x 23 columns]

# 결측치 처리

임의 -1 처리. 추후 EDA를 통해 변경 예정

In [24]:
new_train = new_train.fillna(-1)
new_test = new_test.fillna(-1)

# 학습

In [25]:
x_train = new_train.iloc[:, 1:-1]
y_train = new_train.iloc[:,-1]
x_test = new_test.iloc[:,1:]

In [26]:
model = RandomForestRegressor(n_jobs=-1, random_state=42)

In [27]:
model.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

# 예측 및 제출

In [28]:
pred = model.predict(x_test)

In [29]:
submission['num'] = pred

In [30]:
submission.to_csv('baseline.csv', index=False)